<ion-header  color="primary" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title color="primary" class="ion-text-center">
      <img class="header-image" src="/assets/logo-booklist-croped.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="primary" [fullscreen]="true">
    <ion-title class="title-text ion-text-center">Your Catalog</ion-title>
  <div *ngFor="let book of books">
    <div id="book-card">
      <div class="book-content">
        <div class="book-info">
          <h1>{{book.Titulo}}</h1>
          <h2>{{book.Autor}}</h2>
        </div>
        <div class="book-price">
          <h3>{{book.Preco}}</h3>
        </div>
      </div>
      <div class="book-footer">
        <ion-button color="light" fill="clear" size="small">
          <img class="footer-image" src="/assets/delete-icon-alt.png"/>
        </ion-button>
        <ion-button color="light" fill="clear" size="small">
          <img class="footer-image" src="/assets/book-icon.png"/>
        </ion-button>
        <ion-button color="light" fill="clear" size="small">
          <img class="footer-image" src="/assets/edit-icon.png"/>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="footer-button">
    <ion-button  color="light" fill="clear">
      <ion-text class="ion-text-center">Add Book</ion-text>
    </ion-button>
  </div>
  

</ion-content>
